Report/
Project/
!Project/Assignment0/src/*
!Project/Assignment0/inc/*
!Project/Assignment1/src/*
!Project/Assignment1/inc/*
!Project/Assignment2/src/*
!Project/Assignment2/inc/*
!Project/Assignment3/src/*
!Project/Assignment3/inc/*
!Project/Assignment4/src/*
!Project/Assignment4/inc/*
!Project/Assignment5/src/*
!Project/Assignment5/inc/*
!Project/Assignment6/src/*
!Project/Assignment6/inc/*