Report/*
Project/*
Documentation/*
!Project/Assignment0
!Project/Assignment1
!Project/Assignment2
!Project/Assignment3
!Project/Assignment4
!Project/Assignment5
!Project/Assignment6
!Project/FinalProject
Project/Assignment0/*
Project/Assignment1/*
Project/Assignment2/*
Project/Assignment3/*
Project/Assignment4/*
Project/Assignment5/*
Project/Assignment6/*
Project/FinalProject/*
!Project/Assignment0/src
!Project/Assignment0/inc
!Project/Assignment1/src
!Project/Assignment1/inc
!Project/Assignment2/src
!Project/Assignment2/inc
!Project/Assignment3/src
!Project/Assignment3/inc
!Project/Assignment4/Core
!Project/Assignment5/Core
!Project/FinalProject/Core
!Project/FinalProject/DI5.ioc
!Project/FinalProject/STM32F302R8TX_FLASH.ld
